{% extends "EkynaAdminBundle:Entity:layout.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_agenda.event.header.list'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
{{ admin_resource_btn('ekyna_agenda.event', 'new') }}
{% endblock actions %}

{% block main %}
    {% if events is defined %}
        {{ ekyna_table_render(events) }}
    {% else %}
    <div id="agenda-calendar"></div>
    {% endif %}
{% endblock main %}

{% block stylesheets %}
    {{ parent() }}
    {% if events is not defined %}
    {% stylesheets output='css/admin-agenda.css' filter='cssrewrite, ?yui_css' debug=false
        '@EkynaAgendaBundle/Resources/asset/css/fullcalendar.css'
        '@EkynaAgendaBundle/Resources/asset/css/agenda.css'
    -%}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {%- endstylesheets %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if events is not defined %}
        <script type="text/javascript">
            require(['bundles/ekynaagenda/js/agenda']);
        </script>
    {% endif %}
{% endblock javascripts %}
