{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_agenda.event.header.show'|trans({'%name%': event})|raw }}</h1>
{% endblock %}

{% block actions %}
{{ admin_resource_btn(event, 'list') }}
{{ admin_resource_btn(event, 'new') }}
{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(event, 'edit') }}
    {{ admin_resource_btn(event, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#agenda-event-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="agenda-event-general">
                {{ show_row(event.title, 'text', 'ekyna_core.field.title') }}
                {{ show_row(path('ekyna_agenda_event_admin_tinymce', identifiers|merge({'eventId': event.id})), 'tinymce', 'ekyna_core.field.description') }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(event.startDate, 'datetime', 'ekyna_core.field.start_date', {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(event.endDate, 'datetime', 'ekyna_core.field.end_date', {'label_nb_col': 4, 'widget_nb_col': 8}) }}
                    </div>
                </div>
                {{ show_row(event.enabled, 'checkbox', 'ekyna_core.field.enabled') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}