{% extends 'knp_menu.html.twig' %}

{% block list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {%- if matcher.isAncestor(item, options.matchingDepth) %}
        {%- set listAttributes = listAttributes|merge({'style': 'display:block;'}) %}
    {%- endif %}
    <ul{{ knp_menu.attributes(listAttributes) }}>
        {{ block('children') }}
    </ul>
{% endif %}
{% endblock list %}

{% block label %}
{% spaceless %}
    {% if item.labelAttribute('icon') %}
    <i class="fa fa-{{ item.labelAttribute('icon') }}"></i>
    <span>{{ item.label|trans }}</span>
    {% if item.hasChildren %}<i class="glyphicon glyphicon-chevron-down"></i>{% endif %}
    {% else %}
    {{ item.label|trans }}
    {% endif %}
{% endspaceless %}
{% endblock label %}

{% block spanElement %}
{% spaceless %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <a class="dropdown-toggle" {{ knp_menu.attributes(item.labelAttributes) }} href="javascript:void(0)">{{ block('label') }}</a>
{% endspaceless %}
{% endblock spanElement %}