{% extends 'EkynaCoreBundle:Form:form_div_layout.html.twig' %}

{% block ekyna_characteristics_collection_widget %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed ekyna-characteristics">
        <tbody>
            {{ block('form_rows') }}
        </tbody>
    </table>
    {{ form_rest(form) }}
</div>
{% endblock ekyna_characteristics_collection_widget %}

{% block ekyna_characteristics_group_row %}
    <tr>
    <th{% if form|length > 1 %} rowspan="{{ form|length }}"{% endif %}>{{ form_label(form) }}</th>
    {% for child in form %}
        {% if loop.index0 > 0 %}</tr><tr>{% endif %}
        <td>{{ form_label(child) }}</td>
        <td>
            {% if child.vars.parent_data is not sameas(null) %}<p><em>{{ child.vars.parent_data|raw }}</em></p>{% endif %}
            {{ form_widget(child) }}
            {{ form_errors(child) }}
        </td>
    {% endfor %}
    </tr>
{% endblock ekyna_characteristics_group_row %}

{% block form_widget_compound %}
    {% spaceless %}
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block form_row %}
    {% spaceless %}
        <div{% if form.vars.errors|length > 0 %} class="has-error"{% endif %}>
            {{ block('form_input_group') }}
            {{ block('form_help') }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {{ label|trans({}, translation_domain) }}
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set sizing = 'sm' %}
        {{ parent() }}
    {% endspaceless %}
{% endblock form_widget_simple %}