{% extends 'EkynaDemoBundle:Catalog:layout.html.twig' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h1 class="product-detail-title">{{ product.designation }}</h1>
			<div class="product-detail-description">
				{{ cms_content(product) }}
			</div>
			{% include "EkynaProductBundle::_add_to_cart.html.twig" %}
		</div>
		<div class="col-sm-6">
			<div class="modal-gallery product-detail-gallery">
                {% set images = product.images %}
				{% if images|length > 0 %}
				{% set image = images.first %}
				<a class="thumbnail" href="{{ image.media.path|imagine_filter('product_modal') }}">
					<img alt="{{ image.media.title }}" height="409" src="{{ image.media.path|imagine_filter('product_gallery_big') }}" width="545" />
				</a>
				{% else %}
				<span class="thumbnail">
					<img alt="Visuel à venir" height="409" src="http://placehold.it/545x409/f7f7f7/6e829b&text=Visuel+à+venir" width="545" />
				</span>
				{% endif %}
				<div class="product-detail-gallery-thumbs">
					{% for image in images|slice(1,3) %}
					<a class="thumbnail" href="{{ image.media.path|imagine_filter('product_modal') }}">
						<img alt="{{ image.media.title }}" height="126" src="{{ image.media.path|imagine_filter('product_gallery_small') }}" width="168" />
					</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}