{% extends "EkynaCmsBundle::base.html.twig" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Agenda</h1>
            <hr>

            {% set nb_per_row = 3 %}
            {% set link_params = {} %}
            {% if pager.currentPage > 1 %}
                {% set link_params = {'page': pager.currentPage} %}
            {% endif %}

            {% for e in events %}
                {% if loop.index0 % nb_per_row == 0 %}<div class="row">{% endif %}
                <div class="col-md-{{ 12 / nb_per_row }}">
                    <p class="h4">
                        <a href="{{ path('ekyna_agenda_example_detail', link_params|merge({'slug': e.slug})) }}">
                            {{ e.title }}
                        </a>
                    </p>
                    <p>
                        <em>{{ e.startDate|localizeddate('short', 'short') }} - {{ e.endDate|localizeddate('short', 'short') }}</em>
                    </p>
                    <p>
                        {{ e.content|striptags|truncate(128, true, '&hellip;')|raw }}
                    </p>
                </div>
                {% if loop.last or loop.index % nb_per_row == 0 %}</div>{% endif %}
            {% endfor %}

            <hr>

            <div style="text-align: center">
            {% if 1 < pager.nbPages -%}
                {{ pagerfanta(pager, 'twitter_bootstrap3') }}
            {%- endif %}
            </div>

        </div>
    </div>
</div>
{% endblock body %}