<ul class="nav nav-tabs">
    <li class="active"><a href="#{{ resource_name }}-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="{{ resource_name }}-general">
            {{ form_widget(form) }}
        </div>
        {{ form_rest(form) }}
    </div>
</div>