{% block video %}
{% spaceless %}
{% if responsive %}<div class="embed-responsive embed-responsive-{{ aspect_ratio }}">{% endif %}
    <video controls preload="auto" autoplay data-setup='{"example_option":true}'{{ block('attributes') }}>
        <source src="{{ src }}" type="{{ mime_type }}" />
        Your browser does not support the video tag.
    </video>
{% if responsive %}</div>{% endif %}
{% endspaceless %}
{% endblock video %}

{% block audio %}
{% spaceless %}
<audio{{ block('attributes') }} controls>
    <source src="{{ src }}" type="audio/ogg">
    Your browser does not support the audio element.
</audio>
{% endspaceless %}
{% endblock audio %}

{% block flash %}
{% spaceless %}
<div style="{%- if attr.width %}width:{{ attr.width }}px;{% endif %}{%- if attr.height %}height:{{ attr.height }}px;{% endif %}">
    <object{{ block('attributes') }}>
        <param name="movie" value="{{ src }}" />
        <param name="bgcolor" value="000000" />
        <param name="allowFullScreen" value="true" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="{{ src }}" allowFullScreen="true"
                {%- if attr.width %} width="{{ attr.width }}"{% endif %}
                {%- if attr.height %} height="{{ attr.height }}"{% endif %}>
            <!--<![endif]-->
            <div>
                <h1>Please install Flash player to see this content.</h1>
                <p>
                    <a href="http://www.adobe.com/go/getflashplayer">
                        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                    </a>
                </p>
            </div>
            <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
    </object>
</div>
{% endspaceless %}
{% endblock flash %}

{% block image %}
{% spaceless %}
<img src="{{ src|imagine_filter(filter) }}"{{ block('attributes') }}>
{% endspaceless %}
{% endblock image %}

{% block attributes %}
{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor %}
{% endblock attributes %}