{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}

{% block ekyna_media_media_widget %}
{% spaceless %}
<div class="upload-widget">
    {{ form_row(form.file, {'style': 'horizontal'}) }}
    {% if form.key is defined %}
        {{ form_row(form.key) }}
    {% endif %}
    {% if form.rename is defined %}
        {{ form_row(form.rename, {'style': 'horizontal'}) }}
    {% endif %}
    {% if form.unlink is defined %}
        {{ form_row(form.unlink, {'style': 'horizontal'}) }}
    {% endif %}
</div>
<hr>
{{ form_row(form.translations) }}
{% endspaceless %}
{% endblock ekyna_media_media_widget %}

{% block ekyna_media_choice_widget %}
{% spaceless %}
    {% if gallery %}<div>{% else -%}
    {% set empty_thumb = render_media_thumb() %}
    <div class="ekyna-media-choice" data-config="{{ config|json_encode }}" data-empty-thumb="{{ empty_thumb }}">
    {%- endif %}
        {{ render_media_thumb(media, (media is not sameas(null) ? config.controls : [])) }}
        {% set type = type|default('hidden') %}
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock ekyna_media_choice_widget %}

{% block ekyna_media_choice_row %}
{% spaceless %}
{{ block('form_row') }}
{% endspaceless %}
{% endblock ekyna_media_choice_row %}

{% block ekyna_media_collection_media_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': ('ekyna-media-collection-media ' ~ attr.class|default(''))|trim }) %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_widget(form.media) }}
        {{ form_widget(form.position) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_media_collection_media_widget %}

{% block ekyna_media_collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set prototype_vars = {'attr': {'class': 'ekyna-media-collection-add'}} %}
        {% set prototype_html = form_widget(prototype, prototype_vars) %}

        {% set attr = attr|merge({'data-prototype': prototype_html }) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
        {% set attr = attr|merge({'class': 'ekyna-media-collection' }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }} data-config="{{ config|json_encode }}">
        {% for media in form %}
            {{ form_widget(media) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock ekyna_media_collection_widget %}
