{% extends 'EkynaCoreBundle:Form:form_div_layout.html.twig' %}

{% block ekyna_resource_widget %}
{% if expanded %}
    {{ block('choice_widget_expanded') }}
{% else %}
    {{ block('ekyna_resource_widget_collapsed') }}
{% endif %}
{% endblock ekyna_resource_widget %}

{% block ekyna_resource_widget_collapsed %}
{% spaceless %}
{% if required and empty_value is none and not empty_value_in_choices %}
    {% set required = false %}
{% endif %}
{% if not required %}
    {% set attr = attr|merge({'data-allow-clear': 1}) %}
{% endif %}
{% if new_route is defined or list_route is defined %}
<div class="input-group entity-widget">
{% endif %}
{{ block('choice_widget_collapsed') }}
{% if new_route is defined or list_route is defined %}
    <span class="input-group-btn">
    {% if new_route is defined %}
        <button class="btn btn-default new-resource" type="button" data-path="{{ path(new_route, new_route_params) }}">
            <span class="fa fa-plus"></span>
        </button>
    {% endif %}
    {% if list_route is defined %}
        <button class="btn btn-default list-resource" type="button" data-path="{{ path(list_route, list_route_params) }}">
            <span class="fa fa-search"></span>
        </button>
    {% endif %}
    </span>
</div>
{% endif %}
{% endspaceless %}
{% endblock ekyna_resource_widget_collapsed %}

{% block form_widget_simple %}
{% spaceless %}
{% if admin_helper is defined and admin_helper is not empty %}
    {% set attr = attr|merge({ 'data-helper': admin_helper }) %}
{% endif %}
{{ parent() }}
{% endspaceless %}
{% endblock form_widget_simple %}