{% extends "EkynaCmsBundle::base.html.twig" %}

{% block metas -%}
    {{ cms_title('title', news.title ~ ekyna_cms_seo_title_append) }}
    {{ cms_meta('description', news.content|striptags|truncate(128, true)|raw) }}
{%- endblock metas %}

{% block body %}
<div class="container">
    <div class="row">

        <div class="col-md-8">

            <h1>{{ news.title }}</h1>
            <p>
                <em>{{ news.date|localizeddate('full', 'short') }}</em>
            </p>
            <div>
                {{ news.content|raw }}
            </div>
            <hr>
            {% set link_params = {} %}
            {% set page = app.request.query.get('page') %}
            {% if page > 1 %}
                {% set link_params = {'page': page} %}
            {% endif %}
            <p style="text-align: center">
                <a href="{{ path('ekyna_news_example_index', link_params) }}" class="btn btn-default">Retour</a>
            </p>
        </div>

        <div class="col-md-4">
            {% for n in latest %}
            <p>
                <a href="{{ path('ekyna_news_example_detail', link_params|merge({'slug': n.slug})) }}" class="h4">{{ n.title }}</a><br>
                <em>{{ n.date|localizeddate('full') }}</em>
            </p>
            <p>
                {{ n.content|striptags|truncate(128, true, '&hellip;')|raw }}
            </p>
            {% if not loop.last %}<hr>{% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endblock body %}